*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}
body{
    font-size: 1.6rem;
}

.container{
    display: flex;
}

.sidebar{
    width: 150px;
    background-color: #000;
    position: relative;
    color: #fff;
}
.sidebar__item {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}
.sidebar__item:hover{
    background-color: #5C5C5C; 
}
.grid{
    max-width: 1200px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}
.col{
    padding-left: 10px;
    padding-right: 10px;
}
.l-4{
    width: 33.33333%;
    flex-basis: 33.33333%;
}
.content{
    width: calc(100% - 150px);
    padding: 0 50px;
}

.page-header{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.logo{
    width: 310px;
    height: 122px;
}
.box-content{
    text-align: center;
    margin-top: 30px ;
    margin-bottom: 40px;
    background-color: #EFEFEF;
    padding: 38px;
}
/* box- detail */
.box-content__head{
    margin-bottom: 18px;
    font-size: 2rem;
    line-height: 2.5rem;
}
.box-detail{

}
.box-detail__header{
    font-size: 2.4rem;
}
.img-icon{
    width: 80px;
    height: 100px;

}

.box-detail__text{
    display: flex;
    margin-top: 18px;
}
.box-detail__end{

}

footer{
    padding: 20px;
    border-top: 1px solid #ddd;
}